# Dependencies
/node_modules
/vendor/

# Laravel & PHP caches
/.phpunit.cache
.phpunit.result.cache
.phpactor.json

# Homestead & authentication files
Homestead.json
Homestead.yaml
auth.json

# Storage (Ignore all, but allow a placeholder file)
/public/storage/*
!/public/storage/.gitignore

# Build files
/public/build
/public/hot

# Laravel storage (keys, logs, caches)
storage/*.key
/storage/logs/
bootstrap/cache/

# Ignore sensitive environment files
.env
.env.*  # Covers .env.local, .env.production, etc.
.env.backup
.env.production

# IDE and editor configs
/.idea
/.vscode
/.nova
/.fleet
/.zed

# Debug logs
npm-debug.log
yarn-error.log

# Optional: If using JetBrains Fleet
/.fleet/
