node_modules
/.phpunit.cache
/node_modules
/public/build
/public/hot
/storage/*.key
/vendor/
/public/storage/covers/
/public/storage/cvs/
/public/storage/editorial_images/
/public/storage/images/
/public/storage/manuscripts/
/public/storage/pdf_articles/
/public/storage/feedback_pdfs/
/public/storage/reviewer_feedback_files/
/public/storage/mail.json
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.nova
/.vscode
/.zed
.env
.env.*  # To ignore all environment files like .env.local, .env.production, etc.
.env
